<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language App</title>
</head>

<body>
    <h2><%=selectedChallenge[0].challengeName%></h2>
    <br>
    <%=selectedChallenge[0].challengeDescription%>
    <br>

    Choose the format for your challenge:
    <br>

    <div class="challengeTypeButtons">
        <a class="multipleChoiceButton" href="/challenge_screen_multiplechoice?challengeId=<%=selectedChallenge[0].challengeId%>">MULTIPLE CHOICES CHALLENGE</a>
        <a class="writeInButton" href="/challenge_screen_writein?challengeId=<%=selectedChallenge[0].challengeId%>">WRITE-IN CHALLENGE</a><br>
    </div>



    <a href="/challenge_dashboard">Back to Dashboard</a>

    <% if (typeof message != "undefined"){%>
        <h3><%=message%></h3>
    <%}%>
</body>