<%- include('partials/header', { title:'Write-in Challenge' }) %>

<div class="writein-challenge-container">



    <div class="branding">
        <h2> <%= selectedChallenge.name %> </h2><br>
        <h3> <%= selectedChallenge.description %> </h3>
    </div>

    <div>
        <%=attemptCounter%>.
        <%=questionList[questionIndex].questionText%><br>

        <form action="/checkAnswer" method="POST">

            <input type="text" name="userAnswer"><br>

            <input type="submit" value="submit">
        </form>
    </div>

    <% if (message) { %>
        <p class="form-message">
            <%= message %>
        </p>
    <% } %>

    <p><a href="/dashboard">← Back to Dashboard</a></p>
</div>

<%- include('partials/footer') %>